# Ignorar pastas de build do .NET
bin/
obj/

# Excluir pacotes NuGet e caches
.nuget/
*.nupkg
.vs/
.vspscc
.vssscc
.suo
*.user
*.bak
*.useros
*.sln.docstates

# Excluir pastas de dependência do .NET
**/node_modules/
.npm/

# Excluir configurações sensíveis e de usuário
appsettings.Development.json
appsettings.json.user
appsettings.json.bak
appsettings.*.user.json
*.pfx # Certificados de assinatura

# Excluir relatórios de teste
TestResults/
.trx

# Visual Studio Code (opcional, se estiver usando VS Code)
.vscode/

# Docker build output
/app/